body{
  background: url(./images/darkblue-hires.jpg);
  background-size: contain;
  }
.time {
  float: left;
}
h1{
  width: 330px;
  font-style: italic;
  border-style: dotted dashed;
  font-weight: 900;
  text-align: center;
  color: rgb(158, 133, 50);
  text-decoration: solid green;
  margin: 5px auto 10px;
}
.toolbar{
  background: lightgreen;
  height: 100px;
  width: 80%;
}
.toolbar-left{
  float: left;
}
.toolbar-right{
  float: right;
}
img{
  height: 50px;
  width: 50px;
  float: left;
  margin-left: 10px;
}
.container{
  /* background: gray; */
  position: fixed;
  bottom: 0;
  right: 30px;
  float: right;
  width: 238px;
}/* contains the penguin character */
.main-window{
  height: 725px;
  width: 880px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(./images/dark-wood.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  /* background: rgb(172, 164, 63); */
  border-radius: 40%;
  border: 2px rgb(158, 133, 50);
}
.face{
  margin-left: 250px;
  margin-top: 150px;
}