*{
  color: rgb(158, 133, 50);
}
body{
  background: url(./images/darkblue-hires.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  }
h3{
  width: 105%;
  text-align: center;
  font-style: italic;
  border-style: dotted dashed;
}
.penguin-house{
  position: fixed;
  bottom: 0;
  right: 30px;
  float: right;
  width: 238px;
}/* contains the penguin character */
.main-window{
  height: 725px;
  width: 880px;
  margin: 2.5% auto auto;
  background-image: url(./gifs/ocean_underwater.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  /* background: rgb(172, 164, 63); */
  border-radius: 40%;
  border: 2px rgb(158, 133, 50);
}